.wrapper-content-tab {


ul.tabs-content{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs-content li{
    background: none;
    font-size: 14px;
    color: #6f7287;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid #39364f;
        color: #1e0a3c;
    }
}

ul.tabs-content li.current{
    border-bottom: 2px solid #3d64ff;
    color: #3d64ff;
}

.tab-content{
    display: none;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
.wrapper-tab-content{
    margin: 15px 0;
}
@media only screen and (max-width:767px){
    .browse__location{
        flex-wrap: wrap;
        h3{
            width: 100%;
        }
    }
    .tabs-content{
        display: flex;
        overflow-x: scroll;
        padding: 15px 0 !important;
        li{
            white-space: nowrap;
        }
    }
}
.browse__location{
    display: flex;
    align-items: baseline;
    h3{
        font-size: 30px;
        font-weight: 900;
        letter-spacing: .5px;
        line-height: 40px;
        margin-right: 15px;
    }
}
.form-control-location{
    color: #3d64ff;
    input{
        font-size: 30px;
        width: 100%;
        font-weight: bold;
        &::placeholder{
            color: #3d64ff;
        } 
        border: none;
        color: #3d64ff;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 2px solid #dbdae3;

        &:hover,&:focus{
            outline: none;
        }
    }
}
}