.title{
    color: #1e0a3c;
    margin: 25px 0;
}
.box-content{
    height: 100%;
    transition: all ease .3s;
    box-shadow: 0px 0px 3px 0px #d4d4d4;
    &:hover{
        transition: all ease .3s;
        box-shadow: 0px 0px 6px 0px #9b9b9b;
    }
    .box-img{
        position: relative;
        img{
            display: block;
            width: 100%;
            height: 100%;
            min-width: 100px;
            object-fit: cover;
        }
        
        span{
            position: absolute;
            top: 10px;
            right: -12px;
            z-index: 5;
            padding: 10px 27px;
            color: #4b4d63;
            background: #ec0000;
            color: #fff;
            font-weight: 600;
            border-radius: 4px;
            font-size: 11px;
            box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
            
        }
    }
    .text-box{
        padding: 15px 17px;
        position: relative;
        background: #fff;
        .icon{
            position: absolute;
            top: -20px;
            right: 0;
            button{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                outline: none;
                background-color: #fff;
                border: 1px solid #eeedf2;
                position: relative;
                margin-right: 15px;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        p{
            color: #d1410c;
            font-size: 14px;
            margin-bottom: 0;
        }
        a{
            text-decoration: none;
            h3{
                -webkit-line-clamp: 3;
                font-weight: 700;
                font-size: 16px;
                color: #39364f;
                margin: 6px 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;  
                -webkit-box-orient: vertical;
            }
        }
        span{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            font-weight: 600;
            max-height: 20px;
            color: #6f7287;
        }
    }
}
.banner{
    height: 100%;
    position: relative;
    img{
        width: 100%;
        display: block;
        height: 100%;
    }
    .text-banner{
        position: absolute;
        top: 10px;
        padding: 25px 5px 10px 30px;
        h3{
            font-size: 16px;
            font-weight: 600;
        }
        p{
            font-size: 13px;
            font-weight: 600;
            color: #5f5f65;
        }
        a{
            font-size: 14px;
            outline: none;
            padding: 10px 20px;        
        }
    }
}
hr{
    height: 8px;
    background-color: #f8f7fa;
    border: none !important;
    margin: 0;
}

.btn-more{
    margin: 25px 0;
    a{
        text-decoration: none;
        color: #39364f;
        border: 2px solid #a9a8b3;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
        width: 33.3333%;
        display: block;
        text-align: center;
        margin: auto;
        font-size: 14px;
        font-weight: 700;
        transition: all ease .3s;
        &:hover{
            background-color: #eeedf2;
            transition: all ease .3s;
        }
    }
}


@media (max-width: 576px){
    .box-content-flex{
        display: flex;
        .box-img{
            flex: 2;
        }
        .text-box{
            flex: 7;
            position: relative;
            display: flex;
            .icon{
                display: flex;
                position: relative;
                top: 0;
                align-items: flex-end;
                justify-content: space-around;
                button{
                    border: none;
                    transition: all ease .3s;
                    margin-right: 0 !important;
                    &:hover{
                        background-color: #eeedf2;
                        transition: all ease .3s;
                    }
                }
            }
        }
    }
    .banner{
        max-width: 250px;
        min-height: 300px;
        margin: auto;
    }
}

@media (max-width: 465px){
    .box-content-flex{
        .text-box{
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;
            .icon{
                justify-content: flex-start;
                button{
                    margin-right: 15px !important;
                }
            }
        }
    }
}