.feed-header__main-blur__wrapper {
    width: 100vw;
    top: 0;
    height: auto;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    background-color: #6f7287;
}
.feed-header__main-bg--blurred{
    -webkit-filter: blur(15px);
    filter: blur(15px);
    top: 0;
}
.feed-header__main-bg__blur{
    height: 110vh;
    width: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (min-width: 792px){
    .feed-header__main-bg__blur{
        height: auto;
        width: 110vw;
    }
}
.form-select{
    margin-bottom: 15px;
    label{
        display: block;
        font-size: 12px;
        margin: 0;
    }
    select,input{
        width: 100%;
        border: none;
        border-bottom: .5px solid #ccc;
        padding: 5px 0;
        &:hover,&:focus{
            outline: none;
        }
        font-weight: bold;
    }
}

.feed_header__content{
    max-width: 1272px;
    padding-bottom: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    .wrapper-content{
        width: 100%;
        display: flex;
        margin: 70px 0;
        flex-wrap: wrap;
        .title{
            padding: 0 30px;
            color: #fff;
            h1{
                font-weight: bold;
            }
        }
    }
    .btn-next{
        height: 44px;
        width: 44px;
        border-radius: 22px;
        line-height: 1rem;
        background: #d1410c;
        border: none;
        position: absolute;
        bottom: -20px;
        right: 25px;
        &:hover,&:focus{
            outline: none;
        }
        i{
            color: #fff;
            font-size: 13px;
        }
    }
}            
.feed-header__main-blur__wrapper{
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        opacity: .2;
    }
}
.feed_header__madlibs{
    background: #fff;
    padding: 24px 24px 32px;
    border-radius: 1px;
    box-shadow: 0 0 3px 0 rgb(184, 184, 184);
}
.feed_header__main-bg-wrapper{
    width: 80%;
    left: 0;
    margin-left: 24px;
    height: auto;
    position: absolute;
    height: 110%;
    .feed_header__main-bg{
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.feed_header__attribution{
    position: absolute;
    bottom: -20px;
    left: 70px;
    span{
        color: #fff;
        font-size: 12px;
        border-radius: 18px;
        padding: 8px 15px;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        margin: 32px 0 0;
    }
}
.btn-event{
    text-align: center;
    .btn-event-down{
        outline: none;
        background: transparent;
        border: none;
    }
    margin: 30px 0;
}
@media (min-width: 660px){
    .feed-header {
        height: 448px;
    }
    .feed-header__main-blur__wrapper {
        width: 100%;
        top: 0;
        height: 495px;
        z-index: -1;
    }
}
@media only screen and (max-width:659px){
    .feed-header__main-blur__wrapper {
        width: 100% !important;
    }
    .feed_header__main-bg-wrapper{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .feed_header__attribution {
        left: 15px !important;
    }
}
@media only screen and (max-width:767px){
    .feed_header__main-bg-wrapper {
        width: 94%;
        left: 0;
        margin-left: 24px;
        height: auto;
        position: absolute;
        height: 90%;
    }
    .feed_header__attribution {
        bottom: 45px;
    }
}