.footer{
    padding: 20px;
    background-color: #1e0a3c;
    color: #dbdae3;
    h6{
        font-weight: 700;
        font-size: 14px;
    }
    ul{
        li{
            list-style: none;
            a{
                color: #dbdae3;
                font-size: 12px;
                font-weight: 600;
                &:hover{
                    color: #304fc9;
                }
            }
        }
    }
    .footer-bottom{
        ul{
            margin: 0;
            li{
                margin: 0 12px;
                &:first-child,
                &:nth-child(2),
                &:nth-child(3){
                    display: none;
                }
            }
        }
        span{
            white-space: nowrap;
        }
    }
    .copy-right{
        color: #6f7287;
        font-size: 12px;
    }
    select{
        display: block;
        margin-left: auto;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 14px;
        outline: none;
        border-radius: 4px;
        transition: all ease .3s;
        &:hover{
            background-color: #fff;
            color: #304fc9;
            transition: all ease .3s;
        }
        option{
            color: #6f7287;
            font-size: 14px;
        }
    }
}

@media(max-width: 992px){
    .footer-bottom{
        ul{
            flex-wrap: wrap;
        }
        li{
            margin: 0 12px;
            &:first-child,
            &:nth-child(2),
            &:nth-child(3){
                display: block !important;
            }
        }
    }
}

@media(max-width: 768px){
    .top-footer{
        display: none;
    }
    .footer-bottom{
        span
        {
            display: block;
            text-align: center;
            margin: 10px 0;
        }
        select{
            display: block;
            margin: 10px auto;
        }
    }
}