.bg-dark{
    background-color:#6f7287 !important;
}
.form-search{
    max-width: 300px;
}
.header-main{
    border-bottom: none;
    position: relative;
    display: flex;
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    letter-spacing: normal;
    font-size: 16px;
    background-color: #fff;
}
.header_container{
    background-color: #6f7287;
    height: 72px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .2;
        background-color: #fff;
    }
    .header__main-bg-custom{
        width: 100%;
        top: 0;
        bottom: auto;
    }
    .header__main-bg-wrapper{
        height: 378px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .2;
        }
    }
}
.header__main-bg--blurred{
    -webkit-filter: blur(15px);
    filter: blur(15px);
    top: 0;
}
.header__main-bg, .header__main-bg__blur {
    height: 110vh;
    width: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header__main-bg{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header_content{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;

}
.form-search{
    display: flex;
    align-items: center;
    max-width: 350px;
}
.form-search-input{
    border-radius: 2px !important;
    padding-left: 50px;
    position: relative;
    font-size: 13px;
    height: 45px;
    &:focus{
        outline: none;
    }
}
.input-group-prepend{
    position: absolute;
}
.header_content.custom-header__desktop{
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 1;
    padding: 0;
}
.input-group-prepend{
    z-index: 9;
}
.header__logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 72px;
    text-decoration: none;
    .content-logo{
        width: 110px;
        margin: 0 24px;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }
}
.navbar-toggler{
    margin-right: 20px;
}
.dropdown-menu{
    border: none;
}
.showMenu{
    display: block !important;
    transition: all .3s ease;
    margin-left: 0 !important;
}
#navbarSupportedContent{
    margin-right: 15px;
}
.header__search{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    outline: none;
}
.eds-icon--small svg {
    width: 24px;
    height: 24px;
}
.wrapper-search{
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: relative;
    width: 100%;
}
.bg-body{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(172, 172, 172, 0.514);
    pointer-events: visible;
    z-index: 1;
}
.show-bg-body{
    display: block;
}
@media only screen and (max-width:991px){
    #close-menu{
        display: block !important;
    }
    .nav-menu{
        width: 60%;
        top: 0;
        left: 0;
        margin-left: -100%;
        z-index: 999;
        height: 100vh;
        border-right: 1px solid #343d54;
        position: absolute;
        color: #333;
        background: #fff;
        padding: 15px;
        ul{
            li{
                a{
                    color: #666 !important;
                }
            }
        }
        ul{
            li.active{
                a{
                    color: #000 !important;
                }
            }
        }
    }
}
@media (min-width: 960px){
    .wrapper-search{
        max-width: 472px;
        padding: 8px 0;
    }
}
@media (min-width: 660px){
    .header__main-bg-wrapper {
        height: 538px;
    }
}

@media only screen and (max-width:659px){
    .form-search{
        display: flex;
        justify-content: flex-end;
        .input-group-prepend{
            display: none;
        }
        #icon-search-mobile{
            display: block;
            button{
                color: #fff !important;
            }
            &:hover{
                background: linear-gradient(333deg, rgba(53,69,110,1) 0%, rgb(77, 85, 106) 100%);
                border: 1px solid #343f5a;
            }
            button{
                &:focus{
                    outline: none;
                    box-shadow: none !important;
                }
            }
        }
        .form-search-input{
            display: none;
        }
    }
}
@media (min-width: 792px){
    .header__main-bg-custom .header__main-bg,
    .header__main-bg-custom .header__main-bg__blur {
        height: auto;
        width: 110vw;
    }
}
#form-search-mobile{
    display: flex;
    position: fixed;
    width: 100%;
    background: #fff;
    margin-top: -72px !important;
    padding: 5px 15px;
    height: 72px;
    align-items: center;
    transition: all .3s ease;
}
#form-search-mobile.showSearchMobile{
    z-index: 999;
    margin-top: 0 !important;
    transition: all .3s ease;
}

#close-menu{
    display: none;
    height: 30px;
    width: 30px;
    background: rgb(2,125,189);
    background: linear-gradient(156deg, rgba(2,125,189,1) 0%, rgba(28,0,166,1) 100%);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    &:focus{
        outline: none;
        background: rgb(2,125,189);
        background: linear-gradient(333deg, rgba(2,125,189,1) 0%, rgba(28,0,166,1) 100%);
    }
}
#icon-search-mobile{
    display: none;
}
.header-sub{
    box-shadow: 0 1px 4px 0 #c1c1c1;
    transition: all .3s ease;
    .form-search #icon-search-mobile{
        button{
            color: #777 !important;

        }
        &:hover{
            border: none;
            background: transparent;
        }
    }
    .navbar-dark .navbar-toggler{
        border: 1px solid #ccc;
    }
    .form-search-input{
        border: none;
        &:hover,&:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .header__logo{
        height: 60px;
        .content-logo{
            color: rgb(245, 28, 28);
        }
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #666;
        &:hover{
            color: #333;
        }
        font-size: 13px;
        margin: 0 10px;
    }
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
        color: #333;
    }
}
.fixed{
    position: fixed;
    z-index: 99;
    width: 100%;
    transition: all .3s ease;
}
.wrapper-header{
    transition: all .3s ease;
}
.op-menu{
    padding: 5px;
	display: inline-flex;
	font: inherit;
	color: inherit;
	text-transform: none;
	margin: 0;
	border:none;
	cursor: pointer;
	outline: none;
	background-color:transparent;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.op-menu:focus{
	outline: none;
	border:none;
}
.wrapper-op-menu{
	width: 30px;
	height: 24px;
	position: relative;
	display: inline-block;
}
.icon-op-menu{
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 3px;
	display: block;
	top: 50%;
	margin-top: -2px;
	background-color: #999;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.clo-menu .icon-op-menu{
	transform: rotate(225deg);
	background-color: #8c8c8c;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.icon-op-menu:before{
	content: "";
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 3px;
	display: block;
	top: -8px;
	background-color: #999;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.clo-menu .icon-op-menu:before{
	top: 0;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	background-color: #8c8c8c;
}
.icon-op-menu:after{
	content: "";
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 3px;
	display: block;
	bottom: -8px;
	background-color: #999;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.clo-menu .icon-op-menu:after{
	bottom: 0;
    transform: rotate(-90deg);
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	background-color: #8c8c8c;
}
.btn-backtotop{
    display: none;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dedede;
    position: fixed;
    bottom: 50px;
    right: 15px;
    background: #efefef;
    box-shadow: 0 0 3px 0 #afafaf;
    cursor: pointer;
    z-index: 999;
    &:focus,&:active{
        outline: none;
    }
    &:active{
        background: #dfdfdf;
    }
}