.room-img-info{
    img{
        width: 100%;
        max-height: 300px;
    }
    .room-info{
        height: 100%;
        padding: 20px;
        h3{
            font-size: 24px;
        }
    }
}
.room-contacts{
    padding: 10px 0;
    background-color: #fff;
    border-top: 2px solid rgba(245, 245, 245, 0.9);
    border-bottom: 2px solid rgba(245, 245, 245, 0.9);
    .icon{
        padding-left: 10px;
        button{
            background-color: #fff;
            border: none;
            outline: none;
            margin-left: 10px;
            i{
                font-size: 20px;
            }
        }
    }
    .date-time{
        font-family: serif;
        margin-right: 10px;
        span{
            font-family: sans-serif;
            font-size: 14px;
        }
    }
    .btn-room{
        font-family: serif;
        .btn-join{
            background-color: #D1410C;
            padding: 5px 20px;
            margin-right: 15px;
            outline: none;
            border: 1px solid transparent;
        }
        .btn-out{
            padding: 5px 20px;
            background-color: #F8F7FA;
            border-color: #6F7287;
            margin-right: 15px;
            color: #39364F;
        }
    }
}
.text-room{
    padding: 10px 20px;
    .title-room{
        display: block;
    }
    .title-info{
        font-style: italic;
        font-size: 14px;
    }
    .date-time,
    .location{
        margin: 10px 0;
    }
    .info{
        h3{
            font-size: 24px;
            font-weight: 700;
        }
    }
    .checked {
        color: orange;
    }
    .comment{
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #F8F7FA;
        textarea{
            width: 100%;
        }
    }
}
.join-room{
    padding: 0;
    .wrapper-tab-content{
        .tab-content{
            .join-list{
                ul{
                    list-style: none;   
                    padding: 10px;
                    li{
                        .row-content{
                            position: relative;
                            box-shadow: 3px 0 4px 1px #d4c4c4;
                            padding: 0 0 5px 5px;
                            .title{
                                font-weight: bold;
                            }
                            img{
                                // margin: 0 5px 5px 0;
                                width: 100%;
                            }
                            .content{
                                span{
                                    margin-top: 5px;
                                    color: #34a2a2;
                                }
                            }
                            .custom-btn{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                top: 0;
                                right: 0;
                                border-radius: 0;
                            }
                        }
                        
                    } 
                }
            }
        }
    }
    
}
.bd-radius{
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}


@media(max-width: 992px){
    .room-contacts{
        .date-time{
            display: none !important;
        }
        .btn-room{
            text-align: right;
            width: 100%;
        }
    }
}

@media (max-width: 576px){
    .room-contacts{
        .icon{
            display: none !important;
        }
        .btn-room{
            text-align: center;
            width: 100%;
        }
    }
}