#room {
    overflow-x: hidden;
    position: relative;
    .showcase-bg {
        min-height: 66vh;
        img {
            width: 100%;
            height: 100%;
            filter: blur(88px);
        }
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 66vh;
        z-index: -1;
    }
    .showcase {  
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }

        
        .showcase-inner {
            margin: auto;
            
            .showcase-info {
                position: relative;
                height: 100%;
                background: rgba(255, 255, 255, .9);
                .showcase-action {
                    display: none;
                    font-size: 20px;
                    padding: 5px;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;

                }
                .showcase-info-date {
                    color: #39364F;
                    font-size: 13px;
                    padding-bottom: 20px;
                    .date-day {
                        font-size: 17px;
                    }
                }

                .showcase-info-title {
                    font-size: 20px;
                    color: #1E0A3C;
                    font-weight: bold;
                }
                .showcase-info-author {
                    font-size: 15px;
                    color: #6F7287;

                    button {
                        border: 2px solid #3659e3;
                        color: #3659e3;
                        background: none;
                        font-size: 12px;
                        padding: 0 9px;
                        margin-left: 5px;
                        font-weight: bold;
                    }
                }
                .showcase-info-price {
                    position: absolute;
                    bottom: 20px;
                    font-size: 15px;
                    color: #39364F;
                }
            }
        }
    }
    .room-panel {
        background: #fff;
        
    }
    .nav-tabs {
        border-bottom: 2px solid #b7b7b7;
        padding-bottom: 1.5px;
        .nav-link {
            color: #45c3aa;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: #e8e8e8b3;
            padding: .5rem 1.5rem !important;
            border-radius: 0;
            transition: .3s all ease;
            color: rgb(77, 77, 77);
        }
        .active{
            background-color: #afafaf;
            color: white;
            border-radius: 0;
            border: 1px solid #afafaf;
            // padding-top: .7rem!important;
            // padding-bottom: .7rem!important;
            // top: 0;
            // &::before{
            //     content: '';
            //     position: absolute;
            //     border-style: solid;
            //     border-width: 0 0 26px 30px;
            //     border-color: #45c3aa transparent;
            //     right: 92%;
            //     top: 7px;
            //     z-index: 22;
            // }
            // &::after{
            //     content: '';
            //     position: absolute;
            //     border-style: solid;
            //     border-width: 26px 0 0 30px;
            //     border-color: transparent #45c3aa;
            //     left: 93%;
            //     top: 7px;
            //     z-index: 22;
            // }
        }
        .nav-item{
            // margin-left: 24px;
            margin-top: 2px;
        }
    }
    .tab-content {
        border: .5px solid #ebe7e7;
        border-top: none;
        // box-shadow: 0px 0px 1px 1px #ebe7e7;
    }

    #overview {
            .room-content {
                strong {
                    font-size: 15px;
                    font-weight: bold;
                }
                h2 {
                    font-size: 20px !important;
                    font-weight: bold;
                }
                h4 {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
    }
    .box-content{
        height: 100%;
        transition: all ease .3s;
        box-shadow: 0px 0px 3px 0px #d4d4d4;
        &:hover{
            transition: all ease .3s;
            box-shadow: 0px 0px 6px 0px #9b9b9b;
        }
        .box-img{
            position: relative;
            img{
                display: block;
                width: 100%;
                height: 100%;
                min-width: 100px;
                object-fit: cover;
            }
            
            span{
                position: absolute;
                top: 10px;
                right: -12px;
                z-index: 5;
                padding: 10px 27px;
                background: #ec0000;
                color: #fff;
                font-weight: 600;
                border-radius: 4px;
                font-size: 11px;
                box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
            }
        }
        .text-box{
            padding: 15px 17px;
            position: relative;
            .icon{
                position: absolute;
                top: -20px;
                right: 0;
                button{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    outline: none;
                    background-color: #fff;
                    border: 1px solid #eeedf2;
                    position: relative;
                    margin-right: 15px;
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            p{
                color: #d1410c;
                font-size: 14px;
                margin-bottom: 0;
            }
            a{
                text-decoration: none;
                h3{
                    -webkit-line-clamp: 3;
                    font-weight: 700;
                    font-size: 16px;
                    color: #39364f;
                    margin: 6px 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;  
                    -webkit-box-orient: vertical;
                }
            }
            span{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                font-weight: 600;
                max-height: 20px;
                color: #6f7287;
            }
        }
    }
    #rooms {
        .title {
            h3 {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .share{
        .icon{
            width: 45px;
            height: 44px;
            position: relative !important;
            background-color: #a9a8b3;
            border-radius: 50%;
            margin-right: 3px;
            a{
                text-decoration: none;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all .3s ease;
            }
            &:hover{
                background-color: #bbbac4;
                transition: all .3s ease;
            }
        }
    }
    
}