extends ../layouts/layout.pug
block main-content
    include ./../partials/header.pug
    .wrapper-content
        include ./../partials/feed-header.pug
        include ./../partials/content-tab.pug
        include ./../partials/backtotop.pug

    include ./../partials/footer.pug
