extends ../layouts/layout.pug
block main-content
    include ./../partials/backtotop.pug
    include ./../partials/header-sub.pug
    #room
        .showcase.pt-4
            .showcase-bg
                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F78996753%2F146124790189%2F1%2Foriginal.20191101-004106?w=1000&auto=compress&rect=0%2C182%2C2160%2C1080&s=bd8c1942c4498c827887196ecb5f9761", alt="")
            .showcase-inner.container
                .row
                    .col-md-8.px-0
                        .showcase-image
                            img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F78996753%2F146124790189%2F1%2Foriginal.20191101-004106?w=1000&auto=compress&rect=0%2C182%2C2160%2C1080&s=bd8c1942c4498c827887196ecb5f9761", alt="")
                    .col-md-4.px-0                  
                        .showcase-info.p-4
                            .showcase-action
                                span
                                    i.far.fa-heart
                            .showcase-info-date
                                p.m-0 NOV
                                p.m-0.date-day 07
                            h2.showcase-info-title Technologies That Empower E-commerce Business in Vietnam and Beyond
                            p.showcase-info-author
                                |   by GlobalSouthTech
        .container.px-0.my-3
            .room-panel.my-3
                ul.nav.nav-tabs(role="tablist")
                    li.nav-item
                        a.nav-link.active(data-toggle="tab" href="#overview" role="tab") Overview
                    li.nav-item
                        a.nav-link(data-toggle="tab" href="#rooms") Rooms
                .tab-content
                    .tab-pane.show.active#overview(role="tabpanel")
                        .row.p-3.pt-5   
                            .col-md-7
                                .room-content.ml-5
                                    strong Join us for a discussion surrounding technologies and e-commerce!
                                    h2.my-5 About this Event
                                    p Join the GlobalSouthTech (GST) community on Thursday, November 7 for a conversation with tech leaders surrounding the topic of e-commerce in Vietnam and Southeast Asia.
                                    p About the organizers: GlobalSouthTech originally got started in New York City; we are now in more than 43 different cities worldwide and we've organized over 100 meetups connecting tech people around the world. The goal of GlobalSouthTech (GST) is to create a global community of people who think about how technology can solve the most pressing problems in emerging economies including SEA, Middle East, Africa and South America.
                                    
                                    p Kafnu is an urban village for the new generation of creators to co-create, co-explore and co-innovate. It offers a unique value proposition that combines the best elements of a shared work space, boutique hotel and social community. Apart from offering well-designed spaces and thoughtful facilities for work, rest and socialising, Kafnu strives to elevate the individual and collective potential of its members. Since its launch in 2017, Kafnu has built an Asia Pacific network with locations in Hong Kong, Taipei, Bangalore, Sydney and Ho Chi Minh City.
                                    p Kafnu HCM is an 8-story building location in Saigon Pearl, just 5 minutes from District 1 and 2. Blending elements of Work, Rest, Play and Learn, Kafnu HCMC offers an exclusive shared space with hot-desks, private offices, 8 en-suite hotel rooms, virtual fitness center and on-site restaurant and bar. The space invites you to connect with creators and entrepreneurs in the city’s newest shared space. Belong to a member only community of likeminded individuals wanting to learn, grow and express themselves. Join private events, benefit from strategic partnerships to help your personal and professional growth and enjoy the support of a social community like no other.
                                    p Event Topic: Technologies that empower E-commerce business in Vietnam.
                                    h4 Description:
                                    p More and more people nowadays turn to online shopping to handle most of their needs. Driven by the convenience of buying and selling online and getting products right at our doors, eCommerce has become an integral part of many people’s life. The development of new technologies and the 4th industrial revolution has made it easier than ever for eCommerce companies to run their business with effective solutions to handle inventory and customer/client management, acquire and support customers/ clients etc. Buying and selling online have never become so convenient and cost-effective thanks to technologies.
                                    h4 Share With Friends:
                                    .share.d-flex
                                        .facebook.icon
                                            a(href="#")
                                                <i class="fab fa-facebook-f"></i>
                                        .mesenger.icon
                                            a(href="#")
                                                <i class="fab fa-facebook-messenger"></i>
                                        .linkedln.icon
                                            a(href="#")
                                                <i class="fab fa-linkedin-in"></i>
                                        .twitter.icon
                                            a(href="#")
                                                <i class="fab fa-twitter"></i>
                                        .email.icon
                                            a(href="#")
                                                <i class="far fa-envelope"></i>
                                    
                            .col-md-5.ml-5.ml-md-0
                                .room-content
                                    h4 Date and Time
                                    p.m-0 Sat, Feb 1, 2020, 8:00 AM –
                                    p.m-0 Mon, Feb 3, 2020, 8:00 PM Indochina Time Vietnam Time
                                    h4 Location
                                    p.m-0 Trung tâm Hội nghị Queen Plaza Kỳ Hòa
                                    p.m-0 16A Lê Hồng Phong (nối dài), Phường 12 
                                    p
                                        a(href="#viewmap") View Map
                    .tab-pane#rooms(role="tabpanel")
                        .rooms-inner.p-3.pt-5
                            .title.mb-5
                                h3 Room List
                            .row
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                .col-lg-3.col-md-4.col-sm-6.mb-4
                                    a(href="./room-detail.html")
                                        .box-content
                                            .box-img
                                                span Hot
                                                img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                                            .text-box
                                                .text-content
                                                    p Sat, Nov 9
                                                    a(href="./room-detail.html")
                                                        h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                                    span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                                                .icon
                                                    button
                                                        <i class="fas fa-share"></i>
                                                    button
                                                        <i class="far fa-heart"></i>
                                

                #viewmap
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.495183949219!2d106.692210814287!3d10.773334662197943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3952f964f1%3A0xa8b561d3facfa118!2zNzkgVHLGsMahbmcgxJDhu4tuaCwgUGjGsOG7nW5nIELhur9uIFRow6BuaCwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1573533027690!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        
			
                    

    include ./../partials/footer.pug
