.wrapper-content-tab.container
    .browse__location
        h3 Popular in
        .form-control-location
            input(placeholder="Hồ Chí Minh city")
    .content-tab
        ul.tabs-content
            li.tab-link.current(data-tab='tab-1') All
            li.tab-link(data-tab='tab-2') For you
            li.tab-link(data-tab='tab-3') This weekend
            li.tab-link(data-tab='tab-4') Free
            li.tab-link(data-tab='tab-5') Music
            li.tab-link(data-tab='tab-6') Food and Drink
            li.tab-link(data-tab='tab-7') Charity and Causes
        .wrapper-tab-content
            #tab-1.tab-content.current
                include ./../partials/content.pug
            #tab-2.tab-content
                p Tab 2
            #tab-3.tab-content
                p Tab 3
            #tab-4.tab-content
                p Tab 4  
            #tab-5.tab-content
                p Tab 5
            #tab-6.tab-content
                p Tab 6  
            #tab-7.tab-content
                p Tab 7  
