.container
    .title
        h3 Events in Hồ Chí Minh City
    .row
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 11
                            a(href="./room-detail.html")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F72213741%2F178938166142%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=0%2C133%2C1600%2C800&s=87e9c8fa63da4ba4b793c30e0e41dd6e", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="./room-detail.html")
                                h3 ĐÁNH THỨC SỰ GIÀU CÓ 44 - Tp. Hồ Chí Minh  (Lịch dự kiến)
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="./room-detail.html")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            .banner
                img(src="https://cdn.evbstatic.com/s3-build/perm_001/ad8d44/django/images/onboarding/desktop_entry_2.jpg", alt="")
                .text-banner
                    h3 Tell us what you love
                    p We'll find event recommendations just for you
                    a(href="#").btn.btn-danger Get started
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F79751539%2F140252006469%2F1%2Foriginal.20191107-024832?h=512&w=512&auto=compress&rect=0%2C245%2C864%2C432&s=5987bf475e250ef25ebbb84b4445cc8e", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 ĐÁNH THỨC SỰ GIÀU CÓ 44 - Tp. Hồ Chí Minh  (Lịch dự kiến)
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 ĐÁNH THỨC SỰ GIÀU CÓ 44 - Tp. Hồ Chí Minh  (Lịch dự kiến)
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>

hr

.container
    .title
        h3 More events
    .row
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")    
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Lorem, ipsum dolor.
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")    
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>
        .col-lg-3.col-md-4.col-sm-6.mb-4
            a(href="./room.html")
                .box-content.box-content-flex
                    .box-img
                        span Hot
                        img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53685786%2F239078127498%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=3%2C0%2C2744%2C1372&s=3e3cc7478a9ea026c7d521b2f4c9a357", alt="")
                    .text-box
                        .text-content
                            p Sat, Nov 9
                            a(href="#")
                                h3 Lorem ipsum dolor sit amet consectetur.
                            span Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                        .icon
                            button
                                <i class="fas fa-share"></i>
                            button
                                <i class="far fa-heart"></i>

.btn-more
    a(href="#") See more