section.feed-header(style="margin-bottom:45px")
    .feed-header__main-blur__wrapper
        img.feed-header__main-bg__blur.feed-header__main-bg--blurred(src='https://cdn.evbstatic.com/s3-build/perm_001/6cc698/django/images/homefeed/music-campaing-3-2600-large.jpg' alt='consumer-header-background')
    .feed_header__content
        .feed_header__main-bg-wrapper
            img.feed_header__main-bg(src='https://cdn.evbstatic.com/s3-build/perm_001/6cc698/django/images/homefeed/music-campaing-3-2600-large.jpg', alt='consumer-header-background')
        .wrapper-content
            .col-lg-8.col-md-6.d-flex.align-center.px-4
                .title
                    h2 Made for
                    h1 those who do
            .col-lg-4.col-md-6
                section.feed_header__madlibs
                    form.madlibs
                        .form-select
                            label I want to go out
                            select#madlibs-date-selector.eds-field-styled__input.eds-field-styled__select(role='listbox')
                                option(selected='' value='' data-spec='select-option') Any date
                                option(value='today' data-spec='select-option') Today
                                option(value='tomorrow' data-spec='select-option') Tomorrow
                                option(value='this_weekend' data-spec='select-option') This weekend
                                option(value='this_week' data-spec='select-option') This week
                                option(value='next_week' data-spec='select-option') Next week
                                option(value='this_month' data-spec='select-option') This month
                                option(value='next_month' data-spec='select-option') Next month
                                option(value='custom_date' data-spec='select-option') Pick a date...
                        .form-select
                            label In
                            input#madlibs-locationPicker.eds-field-styled__input(data-spec='input-field-input-element' name='madlibs-locationPicker' role='combobox' type='text' aria-expanded='false' aria-autocomplete='list' autocomplete='off' tabindex='0' value='Hồ Chí Minh city')
                        .form-select
                            label I want to go out
                            select#madlibs-mood-selector.eds-field-styled__input.eds-field-styled__select(role='listbox')
                                option(selected='' value='' data-spec='select-option') Anything
                                option(value='EventbriteCategory/101' data-spec='select-option') Business
                                option(value='EventbriteCategory/102' data-spec='select-option') Science &amp; Tech
                                option(value='EventbriteCategory/103' data-spec='select-option') Music
                                option(value='EventbriteCategory/104' data-spec='select-option') Film &amp; Media
                                option(value='EventbriteCategory/105' data-spec='select-option') Performing &amp; Visual Arts
                                option(value='EventbriteCategory/106' data-spec='select-option') Fashion
                                option(value='EventbriteCategory/107' data-spec='select-option') Health
                                option(value='EventbriteCategory/108' data-spec='select-option') Sports &amp; Fitness
                                option(value='EventbriteCategory/109' data-spec='select-option') Travel &amp; Outdoor
                                option(value='EventbriteCategory/110' data-spec='select-option') Food &amp; Drink
                                option(value='EventbriteCategory/111' data-spec='select-option') Charity &amp; Causes
                                option(value='EventbriteCategory/112' data-spec='select-option') Government
                                option(value='EventbriteCategory/113' data-spec='select-option') Community
                                option(value='EventbriteCategory/114' data-spec='select-option') Spirituality
                                option(value='EventbriteCategory/115' data-spec='select-option') Family &amp; Education
                                option(value='EventbriteCategory/116' data-spec='select-option') Holiday
                                option(value='EventbriteCategory/117' data-spec='select-option') Home &amp; Lifestyle
                                option(value='EventbriteCategory/118' data-spec='select-option') Auto, Boat &amp; Air
                                option(value='EventbriteCategory/119' data-spec='select-option') Hobbies
                                option(value='EventbriteCategory/120' data-spec='select-option') School Activities
                                option(value='EventbriteCategory/199' data-spec='select-option') Other
                    button(type="submit").btn-next
                        <i class="fas fa-arrow-right"></i>
        .feed_header__attribution
            span Simpson at Great American Music Hall
.btn-event
    button.btn-event-down Browse other popular events
        <i class="fas fa-chevron-down" style="display:block; font-size: 13px;"></i>