
footer.footer
    .footer-bottom.my-3
        .row
            .col-md-2
                span.copy-right &copy Copyright 2019
            .col-md-8
                ul.row.justify-content-center
                    li 
                        a.hide-item(href="#") How It Works
                    li 
                        a.hide-item(href="#") Pricing
                    li 
                        a.hide-item(href="#") Contact Support
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Blog
                    li 
                        a(href="#") Help
                    li 
                        a(href="#") Careers
                    li 
                        a(href="#") Press
                    li 
                        a(href="#") Investors
                    li 
                        a(href="#") Security
                    li 
                        a(href="#") Developers
                    li 
                        a(href="#") Terms
                    li 
                        a(href="#") Privacy
                    li 
                        a(href="#") Cookies