header.wrapper-header.header-sub#header-room
    .header-main
        nav.navbar.navbar-expand-lg.navbar-dark.header_content.custom-header__desktop
            a.navbar-brand.header__logo(href='./index.html')
                span.content-logo Gondet
            form.form-inline.my-2.my-lg-0.input-group.form-search.mr-auto
                .input-group-prepend#icon-search-mobile
                        button#button-search-addon.btn.my-2.my-sm-0(type="button")
                            <i class="fas fa-search"></i>
                .input-group-prepend
                    button#button-search-addon.btn.my-2.my-sm-0(type='submit')
                        <i class="fas fa-search"></i>
                input.form-control.form-search-input(type='search', placeholder='Search', aria-label='Search', aria-describedby='button-search-addon')
            form.form-inline.my-2.my-lg-0.input-group.mr-auto#form-search-mobile
                .input-group-prepend
                    button#button-search-addon.btn.my-2.my-sm-0(type='submit')
                        <i class="fas fa-search"></i>
                input.form-control.form-search-input(type='search', placeholder='Search', aria-label='Search', aria-describedby='button-search-addon')    
            button.navbar-toggler#isShowMenu.op-menu(type='button')
                span.wrapper-op-menu
                    span.icon-op-menu

            #navbarSupportedContent.navbar-collapse.nav-menu
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Home 
                            span.sr-only (current)
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Categories
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Business
                            a.dropdown-item(href='#') Music
                            a.dropdown-item(href='#') Film &amp; Media
                            a.dropdown-item(href='#') Fashion
                            a.dropdown-item(href='#') Health
                            a.dropdown-item(href='#') Sports &amp; Fitness
                            a.dropdown-item(href='#') Food &amp; Drink
                            a.dropdown-item(href='#') Travel &amp; Outdoor
                            a.dropdown-item(href='#') Other
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Help
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item
                        a.nav-link(href='#') Create event
                    li.nav-item
                        a.nav-link(href='#', tabindex='-1', aria-disabled='true') Sign in
                button#close-menu
                    <i class="fas fa-times"></i>
