.bg-light
    .wrapper-content-tab
        .container.bg-white.px-0
            .room-img-info
                .row.mx-0.bd-radius
                    .col-lg-8.px-0
                        .room-img-detail
                            img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F72213741%2F178938166142%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=0%2C133%2C1600%2C800&s=87e9c8fa63da4ba4b793c30e0e41dd6e", alt="")
                    .col-lg-4.px-0
                        .room-info.d-flex.align-items-center
                            h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
            .room-contacts
                    .row.align-items-center.mx-0
                        .col-md-5.col-sm-3
                            .icon
                                button
                                    <i class="fas fa-share"></i>
                                button
                                    <i class="far fa-heart"></i>
                        .col-md-7.col-sm-9.col-12.justify-content-end.d-flex.align-items-center
                            .date-time
                                span Sat, Nov 11 at 9:00 AM
                            .btn-room
                                button.btn.btn-primary.btn-join Join room
                                button.btn.btn-danger.btn-out Out room

            .content-tab.join-room
                ul.tabs-content.overflow-auto
                    li.tab-link.current(data-tab='tab-1') Content
                    li.tab-link(data-tab='tab-2') Joined
                .wrapper-tab-content
                    #tab-1.tab-content.current
                        .text-room
                            .date-time
                                span.title-room Date time :
                                span.title-info Date And Time Sat, November 16, 2019 9:00 AM – 12:00 PM
                            .location
                                span.title-room Location :
                                span.title-info Grand Hotel Saigon, Ho Chi Minh City, Vietnam
                            .info
                                h3 Technologies That Empower E-commerce Business in Vietnam and Beyond
                                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore doloremque hic fugit molestiae necessitatibus illo pariatur quo reprehenderit tenetur! Excepturi alias consequatur accusamus delectus eligendi? Voluptatem, obcaecati perferendis? Aperiam, aspernatur!
                                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore doloremque hic fugit molestiae necessitatibus illo pariatur quo reprehenderit tenetur! Excepturi alias consequatur accusamus delectus eligendi? Voluptatem, obcaecati perferendis? Aperiam, aspernatur!
                            .rating.mt-3
                                h6 Đánh giá :
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            .comment
                                h6 Comments :
                                textarea(rows="4")
                    #tab-2.tab-content
                        .join-list
                            ul.row
                                li.col-md-4.col-sm-6.px-2.pt-3
                                    .row-content.row.mx-0
                                        .title.col-md-12.my-0.p-0
                                            label NguyenTanDong
                                        .img.col-md-3.p-0
                                            img(src="https://www.w3schools.com/howto/img_avatar2.png")
                                        .content.col-md-9
                                            div 
                                                span Nguyễn Tấn Đông
                                        button.btn.btn-danger.custom-btn <i class="fas fa-times"></i>
                                li.col-md-4.col-sm-6.px-2.pt-3
                                    .row-content.row.mx-0
                                        .title.col-md-12.my-0.p-0
                                            label NguyenTanDong
                                        .img.col-md-3.p-0
                                            img(src="https://www.w3schools.com/howto/img_avatar2.png")
                                        .content.col-md-9
                                            div
                                                span Nguyễn Tấn Đông
                                        button.btn.btn-danger.custom-btn <i class="fas fa-times"></i>
                                li.col-md-4.col-sm-6.px-2.pt-3
                                    .row-content.row.mx-0
                                        .title.col-md-12.my-0.p-0
                                            label NguyenTanDong
                                        .img.col-md-3.p-0
                                            img(src="https://www.w3schools.com/howto/img_avatar2.png")
                                        .content.col-md-9
                                            div 
                                                span Nguyễn Tấn Đông
                                        button.btn.btn-danger.custom-btn <i class="fas fa-times"></i>
                                li.col-md-4.col-sm-6.px-2.pt-3
                                    .row-content.row.mx-0
                                        .title.col-md-12.my-0.p-0
                                            label NguyenTanDong
                                        .img.col-md-3.p-0
                                            img(src="https://www.w3schools.com/howto/img_avatar2.png")
                                        .content.col-md-9
                                            div 
                                                span Nguyễn Tấn Đông
                                        button.btn.btn-danger.custom-btn <i class="fas fa-times"></i>
                                li.col-md-4.col-sm-6.px-2.pt-3
                                    .row-content.row.mx-0
                                        .title.col-md-12.my-0.p-0
                                            label NguyenTanDong
                                        .img.col-md-3.p-0
                                            img(src="https://www.w3schools.com/howto/img_avatar2.png")
                                        .content.col-md-9
                                            div 
                                                span Nguyễn Tấn Đông
                                        button.btn.btn-danger.custom-btn <i class="fas fa-times"></i>