@media (max-width: 768px) {
    #room {
        .showcase-action {
            display: flex !important;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: #000;
            top: -20px;
            right: 30px;
            background:#fff;
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
        }
        .showcase-info-price {
            display: none;
        }
    }
}
@media (max-width: 999px) {
    #room {
        .container {
            max-width: 100% !important;
        }
    }
}
